# pythondevelopersnepal

## SECTION 1 : Python Variables and datatypes

In [1]:
print("Hello World!")

Hello World!

### Exercise 1.0
Write the syntax to print your NAME and run it.

# Python Variables

Variables are designed to store data values.

In [2]:
a = 2 

# variables are case-sensitive 
A = 5 # this variable A is different from small 'a'

print('a =', a)
print('A =', A)

a = 2
A = 5

In [ ]:
# We can use a pair of single or double quotes to store strings variable 
first_name = 'Python Developers' 
second_name = "Nepal" 


print('First Name: ', first_name)
print('Second Name:', second_name)

**Rules for variable names**

* Variable name should start with either a letter or an underscore. Example: `rollno` and `_rollno` are valid variable names.
*   Variable name can not start with a number. For example, `7roll` is not valid. However, number can be included after the first character. For example, `roll7` or `r7oll` are valid.
*   Variable name can only contain alpha-numeric ( [a-z], [A-Z], [0,9] ) or underscore ( _ ) characters
* Variable names are case-sensitive. Example: `name`, `Name`, `nAme` are different variables.

In [ ]:
# let's get an error in assigning variable
2roll = 123
print(2roll)

In [ ]:
# Some of the valid examples

# variable names are case-sensitive. So the following two variables are different although they have the same spelling.
city = "Kathmandu" 
City = "Lalitpur"

print("city:", city)
print("City:", City)

### Exercise 1.1
Write a program to create two variables named 'name' and 'age' respectively. Your program should print those two variables. Also include comment on each of the lines of code.

## Python Data Types

Variables can hold different types of data.

Python has the following data types.
* Text (String): 	`str`
* Numeric (Numbers): 	`int`, `float`, `complex`
* Sequence: 	`list`, `tuple`, `range`
* Mapping: 	`dict`
* Set: 	`set`, `frozenset`
* Boolean (True/False): 	`bool`

Examples of commonly used data types

In [ ]:
name = "Python Developers Nepal"

age = 6

height = 6.20

fruits = ["Apple", "Mango", "Orange"] # list uses square brackets

countries = {"China", "India", "Nepal"} # set uses curly braces

coordinates = (10.0, 20.0, 30.0) # tuple type uses parentheses

group_info = {"name": "Python Developers Nepal", "age": "6"} # dict type uses key:value pairs inside a pair of curly braces

is_ok = True

In [ ]:
print("List:", fruits)

In [ ]:
print("Set:", countries)

In [ ]:
print("Tuple:", coordinates)

In [ ]:
print("Dictionary:",group_info)

In [ ]:
print("Type of name variable:",type(name))
print("Type of my_info variable:",type(group_info))
print("Type of is_ok variable:",type(is_ok))

### Exercise 1.2
Print all the output from the data types defined above.

# Section 2 : Basic Operations in Datatypes

In [ ]:
#numerical
a = 10
b = 5

# Addition
print(a + b)  

# Subtraction
print(a - b)  

# Multiplication
print(a * b)  

# Division
print(a / b)

In [ ]:
## String

s1 = "Hello"
s2 = "World"

# Concatenation
print(s1 + " " + s2)  

# Slicing
print(s1[1:4])  # Output: ell

# Upper case
print(s1.upper()) 

# Lower case
print(s2.lower())

In [ ]:
#list

my_list = [1, 2, 3, 4, 5]

# Append
my_list.append(6)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

# Indexing
print(my_list[2])  # Output: 3

# Slicing
print(my_list[1:4])  # Output: [2, 3, 4]

# Length
print(len(my_list))  # Output: 6

In [ ]:
# boolean

a = True
b = False

# AND
print(a and b)  # Output: False

# OR
print(a or b)  # Output: True

# NOT
print(not a)  # Output: False

In [ ]:
# set operations 

set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.add(4)
print(set1)  # Output: {1, 2, 3, 4}

# Union
print(set1 | set2)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set1 & set2)  # Output: {3, 4}

# Difference
print(set1 - set2)  # Output: {1, 2}

# Section 3 : Introduction to Control Flow

In [ ]:
x = 10
y = 20

if x < y:
    print("x is less than y")  # Output: x is less than y
elif x == y:
    print("x is equal to y")
else:
    print("x is greater than y")

In [ ]:
# Loop through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
# Output:
# apple
# banana
# cherry

# Loop through a range
for i in range(3):
    print(i)
# Output:
# 0
# 1
# 2

In [ ]:
count = 0
while count < 3:
    print(count)
    count += 1
# Output:
# 0
# 1
# 2

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
# Output:
# 0
# 1
# 2

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)
# Output:
# 0
# 1
# 2
# 4

In [ ]:
# Nested if statements
x = 10
y = 20
if x < y:
    if y < 30:
        print("y is greater than x and less than 30")
    else:
        print("y is greater than or equal to 30")
# Output: y is greater than x and less than 30

# Nested loops
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")
# Output:
# i: 0, j: 0
# i: 0, j: 1
# i: 1, j: 0
# i: 1, j: 1
# i: 2, j: 0
# i: 2, j: 1

# Section 4: Python Functions

Functions are blocks of code which run only when called. Functions are not executed unless they are called. Functions most often take some input/s known as parameters and return some output.

In [ ]:
# Defining a Function
def add_numbers(a, b):
    """
    This function takes two arguments and returns their sum.
    """
    # Adding the two numbers
    result = a + b
    return result  # Return Type

# Calling the Function
sum_result = add_numbers(5, 7)  # Function Arguments

# Printing the result
print(f"The sum of 5 and 7 is: {sum_result}")

# Exercise 4.1
Write a program to multiple three numbers using function.

## Thank You